body {
    display: flex;
    width: 100%;
    flex-direction: column;
    font-family: 'Josefin Slab', 'Noto Sans Japanese', serif;
    font-weight: lighter;
    font-size: 16px;
    color: #484540;
}

header {
    display:block;
    margin: auto;
}

.find-gigs-form {
    display:block;
    width: 520px;
    margin: auto;
    background: #FFF;
    padding: 1em;
}

.find-gigs-form #main-search-input {
    width: 300px;
}

.find-gigs-form label {
    font-size: 20px;
    font-weight: bold;
}

.find-gigs-form button {
    font-weight: bolder;
}

#app {
    font-size: 16px;
}

/* ----------------- SEARCH RESULT CONTAINER -------------------------- */

.search-result-container {
    padding:  1em;
}

.search-result-container .list-group-item {
    padding: 3ex 2em;
    margin-bottom: 1ex;
}

.search-result-container h3 {
    font-family: 'Josefin Slab', 'Noto Sans Japanese', serif;
    margin-bottom: 2ex;
    font-weight: lighter;
}

.search-result-container label {
    font-size: 20px;
    line-height: 1.5;
}

.search-result-container label span, .search-result-container label a{
    font-weight: lighter;
    font-size: 16px;
}

.result-info-text {
    background: white;
    border: dashed #cfcfdd 1px;
    padding: 8px;
}

.search-result-container .pagination {
    background: white;
    border: dashed #cfcfdd 1px;
    padding: 8px;
}

.search-result-container .pagination li a {
    font-weight: bolder;
}

span {
    font-weight: lighter;
}

.result-info-text {
    padding: 8px 15px 3px 15px;
}