.navbar-default {
    background-color: #e5edf4 !important;
    border-color: #d5e5f0;
}
.navbar-default .navbar-brand {
    color: #36474b;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #285c6b;
}
.navbar-default .navbar-text {
    color: #36474b;
}
.navbar-default .navbar-nav > li > a {
    color: #36474b;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #285c6b;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #285c6b;
    background-color: #d5e5f0;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #285c6b;
    background-color: #d5e5f0;
}
.navbar-default .navbar-toggle {
    border-color: #d5e5f0;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #d5e5f0;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #36474b;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #36474b;
}
.navbar-default .navbar-link {
    color: #36474b;
}
.navbar-default .navbar-link:hover {
    color: #285c6b;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #285c6b;
    background-color: #d5e5f0;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #36474b;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #285c6b;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #285c6b;
        background-color: #d5e5f0;
    }
}

/* https://work.smarchal.com/twbscolor/css/e5edf4d5e5f036474b285c6b0  */
